﻿@page
@model LoginModel
@{
	Layout = "_Layout";
	ViewBag.Title = "Вход";
}

<h2>Авторизация</h2>
<hr />
<form method="post">
	<div asp-validation-summary="All"></div>
	<div>
		<label asp-for="Login"></label><br />
		<input asp-for="Login" />
		<span asp-validation-for="Login"></span>
	</div>
	<div>
		<label asp-for="Password"></label><br />
		<input asp-for="Password" />
		<span asp-validation-for="Password"></span>
	</div>
	<div>
		<label asp-for="RemembeMe"></label><br />
		<input asp-for="RemembeMe" />
	</div>
	<div>
		<button>Войти</button>
	</div>
</form>
<br />
<a asp-page="/Index"><button>Отмена</button></a>
<br />




