﻿@model InfoModelDto
@{
	Layout = "_Layout";
	ViewData["Title"] = "Parsing";
}

<style>
	.none {
		display: none;
	}
	.block {
		margin: 5%;
		display: block;
	}
</style>

<div class="text-center">
	<h1>Parsing!</h1>
	<hr />

	<h3 style="color:red;">@Model.Messange</h3>
	<h5 style="color:red;">@Model.FullMessange</h5>
	<hr />

	<form method="post" enctype="multipart/form-data" asp-controller="Home">

		<input type="file" name="virtualFileCollection" multiple />
		<button class="btn-primary" asp-action="Load">Загрузить</button>

		<div class="@Model.GetClassDiv()">
			<div style="display:none">
				<input type="checkbox" name="checkColumns" value="CadNumber" />
				<label>Кадастровый номер ЗУ</label><br>
				<input type="checkbox" name="checkColumns" value="Category" />
				<label>Категория</label><br>
				<input type="checkbox" name="checkColumns" value="Vri" />
				<label>ВРИ</label><br>
				<input type="checkbox" name="checkColumns" value="Address" />
				<label>Адрес</label><br>
				<input type="checkbox" name="checkColumns" value="CopyrightHolderFIO" />
				<label>ФИО правообладателя</label><br>
				<input type="checkbox" name="checkColumns" value="RightNumber" />
				<label>Номер права</label><br>
				<input type="checkbox" name="checkColumns" value="BirthDate" />
				<label>Дата рождения</label><br>
				<input type="checkbox" name="checkColumns" value="CopyrightHolderAddress" />
				<label>Адрес правообладателя</label><br>
				<input type="checkbox" name="checkColumns" value="Email" />
				<label>Email</label><br>
				<input type="checkbox" name="checkColumns" value="CopyrightHolderDetails" />
				<label>Реквизиты правообладателя</label><br>
				<input type="checkbox" name="checkColumns" value="Snils" />
				<label>СНИЛС</label><br>
				<input type="checkbox" name="checkColumns" value="RestrictionOfRights" />
				<label>Ограничение прав и обременение объекта недвижимости</label><br>
				<input type="checkbox" name="checkColumns" value="Lessee" />
				<label>Арендатор</label><br>
			</div>			

			<div>
				<select name="delimiter" asp-for="@Model.Delimiter">
					<option value="">Выберите разделитель</option>
					<option value="/">/</option>
					<option value="|">|</option>
					<option value=";">;</option>
					<option value=",">,</option>
				</select>
				<button class="btn-primary" asp-action="Converter">Конвертировать в CSV</button>
			</div>
			
		</div>		

		<div class="@Model.GetClassTable()">
			<table border="1">
				<thead>
					<tr><th>Результат</th></tr>
				</thead>
				<tbody>
					@if (@Model.ListResult.Count() > 0)
					{
						foreach (var item in @Model.ListResult)
						{
							<tr><td>@item.Substring(21)</td></tr>
						}
					}
					else
					{
						<tr><td><strong>Нет данных</strong></td></tr>
					}
				</tbody>
			</table>
		</div>

	</form>

	<div class="@Model.GetClassTableLink()">
		
		<table border="1">
			<thead>
				<tr><th colspan="2">Результат</th></tr>
			</thead>
			<tbody>
				@foreach (var link in Model.ListDownLink)
				{
					<tr><td>@link.Substring(12)</td><td><a href="@link" download="">Скачать</a></td></tr>
				}
			</tbody>
		</table>

	</div>
	
</div>
