﻿@page
@model IndexModel

@{
	Layout = "_Layout";
	ViewBag.Title = "Главная";
}

@if (User.Identity.IsAuthenticated)
{
	<h2>@User.Identity.Name, Вы авторизованы</h2>
	<hr />

	<form method="post">
		<div>
			<input type="submit" value="Выйти" />
		</div>
	</form>	
}
else
{
	<h2>Вы не авторизованы</h2>
	<hr />
	<a asp-page="/Account/Login"><button>Авторизоваться</button></a>
	<br />
	<a asp-page="/Account/Register"><button>Зарегистрироваться</button></a>

	
}

