.main{
    position: relative;
    margin-top: 16%;
    z-index: 4;
    background-color: white;
    width:100%;
}

.section__contats{
    width: 100%;
    padding-top: 4%;
}
.section__contats h2{
    color: #709dca;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}
.section__contats p{
    padding-top: 2%;
    margin-left: 8%;
    width: 84%;
    font-weight: 600;
    line-height: 1.3;
}
.section__contats_employee{
    width: 90%;
    display: flex;
    margin-left: 5%;
    margin-top: 3%;
}
.section__contats_employee_item{
    display: flex;
    width: 55%;
    background-color: #709dca;
    margin-left: 3%;
    margin-right: 3%;
}
.section__contats_employee_item img{
    width: 40%;
}
.section__contats_employee_item-info{
    margin-left: 1%;
    background-color: #ffc155;
    padding: 1% 2% 7% 0%;
    width: 100%;
    line-height: 0.5;
}
.section__contats_employee_item-info h4{
    font-size: 16px;
    padding-left: 8%;
    margin-bottom: -2%;
}
.section__contats_employee_item-info p{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: -2%;
}
.section__contats_employee_item-info strong{
    color: #0516a8;
}

.section__communication{
    width: 100%;
    display: flex;
    margin-top: 3%;
    padding-bottom: 4%;
    border-bottom: 5px solid #ffc155;
}
.section__communication-contacts{
    width: 34%;
    margin-left: 8%;
    margin-right: 8%;
}
.section__communication-contacts_item{
    width: 60%;
    margin-bottom: 3%;
}
.section__communication-contacts_item img{
    width: 10%;
    float: left;
    margin-right: 5%;
    margin-top: 2%;
}
.section__communication-contacts_item p{
    font-size: 18px;
    font-weight: 600;
}
.section__communication-form{
    width: 38%;
    margin-left: 3%;
    margin-right: 3%;
}
.section__communication-form h2{
    font-size: 22px;
}
.section__communication-form form{
    width: 100%;
}
.section__communication-form input{
    border: 2px solid #ffc155;
    color: #2a284f;
    font-size: 18px;
    background-color: white;
    width: 100%;
    margin-bottom: 2%;
    padding: 1%;
}
.section__communication-form textarea{
    border: 2px solid #ffc155;
    color: #2a284f;
    font-size: 18px;
    background-color: white;
    width: 100%;
    padding: 1%;
    font-family: Roboto;
}
.section__communication-form button{
    border: 1px solid #273a43;
    color: white;
    font-size: 18px;
    background-color: #273a43;
    padding: 1% 43%;
}

.section__maps{
    width: 100%;
    
}